<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <!-- Reset de Estilos -->
    <link rel="stylesheet" href="../css/reset.css" />
    <!-- Estilos Generales -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- Atoms -->
    <link rel="stylesheet" href="../css/atoms/button.css" />
    <link rel="stylesheet" href="../css/atoms/images.css" />
    <!-- Moleculas -->
    <link rel="stylesheet" href="../css/molecules/card.css" />
    <!-- Organismos -->
    <link rel="stylesheet" href="../css/organisms/cards.css">
    <!-- Plantillas -->
    <link rel="stylesheet" href="../css/templates/template.css">
  </head>
  <body>

    <header class="header">
       <h2 class="tittle">header</h2>
    </header>

    <div class="template">

        <div class="card__info">
            <h1 class="tittle">Título</h1>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Dolore, temporibus.
            </p>
        </div>

        <div class="organismos">

            <div class="cards">
    
              <div class="card">
                <div class="card__img">
                  <img
                    class="responsive--image"
                    src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                    alt="dummy image"
                  />
                </div>
                <div class="card__info">
                  <h1 class="tittle">Título</h1>
                  <h2 class="subtitle">Subtitulo</h2>
                  <p class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Dolore, temporibus.
                  </p>
                </div>
                <button class="button button--primary">Button Primary</button>
              </div>
    
              <div class="card">
                <div class="card__img">
                  <img
                    class="responsive--image"
                    src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                    alt="dummy image"
                  />
                </div>
                <div class="card__info">
                  <h1 class="tittle">Título</h1>
                  <h2 class="subtitle">Subtitulo</h2>
                  <p class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Dolore, temporibus.
                  </p>
                </div>
                <button class="button button--primary">Button Primary</button>
              </div>
    
              <div class="card">
                <div class="card__img">
                  <img
                    class="responsive--image"
                    src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                    alt="dummy image"
                  />
                </div>
                <div class="card__info">
                  <h1 class="tittle">Título</h1>
                  <h2 class="subtitle">Subtitulo</h2>
                  <p class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Dolore, temporibus.
                  </p>
                </div>
                <button class="button button--primary">Button Primary</button>
              </div>
    
            </div>
    
          </div>

    </div>

    <footer class="footer">
        <h2 class="tittle">footer</h2>
    </footer>

  </body>
</html>
