<div class="imposter">
      <!-- Protones, electrones, neutrones -->
      <div class="protones">
        <h1 class="tittle">Título</h1>
        <h2 class="subtitle">Subtitulo</h2>
        <p class="text">Texto normal</p>
        <div class="circle circle--navy"></div>
        <div class="circle circle--teal"></div>
        <div class="circle circle--yellow"></div>
        <div class="circle circle--light-teal"></div>
      </div>

      <!-- Atomos -->
      <div class="atomos">
        <img
          class="responsive--image"
          src="https://dummyimage.com/300x200/dedede/adadad.jpg"
          alt="dummy image"
        />
        <button class="button button--primary">Button Primary</button>
        <button class="button button--secondary">Button Secondary</button>
      </div>

      <!-- Moleculas -->
       
      <div class="moleculas">

        <div class="card">
          <div class="card__img">
            <img
              class="responsive--image"
              src="https://dummyimage.com/300x200/dedede/adadad.jpg"
              alt="dummy image"
            />
          </div>
          <div class="card__info">
            <h1 class="tittle">Título</h1>
            <h2 class="subtitle">Subtitulo</h2>
            <p class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore,
              temporibus.
            </p>
          </div>
          <button class="button button--primary">Button Primary</button>
        </div>

      </div>

      <!-- Organismos -->
      <div class="organismos">

        <div class="cards">

          <div class="card">
            <div class="card__img">
              <img
                class="responsive--image"
                src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                alt="dummy image"
              />
            </div>
            <div class="card__info">
              <h1 class="tittle">Título</h1>
              <h2 class="subtitle">Subtitulo</h2>
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolore, temporibus.
              </p>
            </div>
            <button class="button button--primary">Button Primary</button>
          </div>

          <div class="card">
            <div class="card__img">
              <img
                class="responsive--image"
                src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                alt="dummy image"
              />
            </div>
            <div class="card__info">
              <h1 class="tittle">Título</h1>
              <h2 class="subtitle">Subtitulo</h2>
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolore, temporibus.
              </p>
            </div>
            <button class="button button--primary">Button Primary</button>
          </div>

          <div class="card">
            <div class="card__img">
              <img
                class="responsive--image"
                src="https://dummyimage.com/300x200/dedede/adadad.jpg"
                alt="dummy image"
              />
            </div>
            <div class="card__info">
              <h1 class="tittle">Título</h1>
              <h2 class="subtitle">Subtitulo</h2>
              <p class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolore, temporibus.
              </p>
            </div>
            <button class="button button--primary">Button Primary</button>
          </div>

        </div>

      </div>

      <!-- Demostración usando una plantilla -->
      <div class="organismos">

          <div class="cards">
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Hosting Premium</h1>
                <h2 class="subtitle">CO$ 39.900 AHORRA 75%</h2>
                <p class="text">El paquete ideal para sitios personales</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Hosting Empresarial</h1>
                <h2 class="subtitle">CO$ 54.900 AHORRA 69%</h2>
                <p class="text">Optimizado para empresas y sitios de eCommerce</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Cloud <br> Startup</h1>
                <h2 class="subtitle">CO$ 96.900 AHORRA 59%</h2>
                <p class="text">Optimizado para webs empresariales y de eCommerce</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
          </div>
  
        </div>

</div>