

  <header class="header">
      <h2 class="tittle">Atómic Hosting </h2>
  </header>

  <div class="template">

      <div class="card__info">
          <h1 class="tittle">Escoge tu plan de web hosting</h1>
          <p class="text">
            Hasta 75% DTO en hosting
          </p>
      </div>

      <div class="organismos">

          <div class="cards">
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1484863137850-59afcfe05386?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Hosting Premium</h1>
                <h2 class="subtitle">CO$ 39.900 AHORRA 75%</h2>
                <p class="text">El paquete ideal para sitios personales</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Hosting Empresarial</h1>
                <h2 class="subtitle">CO$ 54.900 AHORRA 69%</h2>
                <p class="text">Optimizado para empresas y sitios de eCommerce</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img
                  class="responsive--image"
                  src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                  alt="dummy image"
                />
              </div>
              <div class="card__info">
                <h1 class="tittle">Cloud <br> Startup</h1>
                <h2 class="subtitle">CO$ 96.900 AHORRA 59%</h2>
                <p class="text">Optimizado para webs empresariales y de eCommerce</p>
              </div>
              <button class="button button--primary">Añadir al carrito</button>
            </div>
  
          </div>
  
        </div>

  </div>

  <footer class="footer">
      <h2 class="tittle">info@atomichosting.com</h2>
  </footer>


